{% extends 'base.html' %}

{% block content %}

<h3 class="text-center mt-5">AI Chatbot pricing INR 25000/year</h3>
<br>

	<p class="text-center">Natural Language Processing most used case is a chatbot. It is an amazing software that mimics the speech and text characteristics of human with the help of advanced machine learning and deep learning algorithms. Nowadays, every company is shifting its trend towards incorporation of chatbot in their websites so as to gain more traffic and insights about the customers. We are your service provider who will do the work for you at a much reasonable rate.</p>

	<ol>
	  <li>Voice Assistant</li>
	  <li>Text to Speech</li>
	  <li>Speech to Text</li>
	  <li>Natural Language Processing enabled bot therefore self learning</li>
	</ol>

{% endblock %}