{% extends 'base.html' %}

{% block content %}

<h3 class="text-center mt-5">Deep Learning solutions for Business as well Educational Institutions pricing INR 15000 one time cost</h3>
<br>

	<p class="text-center">Get your problems solved related to Deep Learning with the help of our services. Let us do the work for you and you just sit back and relax.</p>



	<ol>
	  <li>Regression Models</li>
	  <li>Classification Models</li>
	  <li>Eploratory Data Analysis on Big Data</li>
	  <li>Data Preprocessing/Feature Engineering on Big Data</li>
	  <li>Deployment of DL models (Flask/Django) on different platforms like Heroku, AWS, Azure, GCP, C Panel, etc</li>
	  <li>Object Detection</li>
	  <li>Image Classification</li>
	  <li>OpenCV</li>
	</ol>

{% endblock %}