{% extends 'base.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center">
    <h1>{% block title %} URL SHORTENER FOR YOU {% endblock %}</h1>
    <!--<a href="stats.html" class="btn btn-primary">Get Statistics</a>-->
    <form method="post">
    <div class="form-group">
        <label for="url"><i>ENTER YOUR URL</i></label>
        <input type="text" name="url"
               placeholder="URL please" class="form-control"
               value="{{ request.form['url'] }}" autofocus style="height: 40px;"></input>
    </div>

    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary"><i>Go</i></button>
    </div>
    </form>

</div>

<script type="text/javascript"
    id="botcopy-embedder-d7lcfheammjct"
    class="botcopy-embedder-d7lcfheammjct" 
    data-botId="603749be85eb5600084b952f"
>
    var s = document.createElement('script'); 
    s.type = 'text/javascript'; s.async = true; 
    s.src = 'https://widget.botcopy.com/js/injection.js'; 
    document.getElementById('botcopy-embedder-d7lcfheammjct').appendChild(s);
</script>

    {% if short_url %}
    <hr>
    <span>{{ short_url }}</span>
    {% endif %}
{% endblock %}