{% extends 'base.html' %}

{% block content %}

<h3 class="text-center mt-5">AI powered Sentiment Analysis pricing INR 5000 one time cost</h3>

<br>

	<p class="text-center">With the help of Natural Language Processing get the emotions of your customer and different articles and understand the overal sentiment of the same.</p>

	<ol>
	  <li>Emoticon creation based on emotions</li>
	  <li>Real time sentiment detection using Deep learning and Machine learning algorithms</li>
	</ol>

{% endblock %}